.missionsPage {
  background-color: #f5f5f5;
  padding: 50px 0;
  /* background-color: blue; */
  width: 100%;
}

.missionTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #b1b1b1;
}

h3 {
  margin: 0;
  padding: 8px;
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  border: 1px solid #b1b1b1;
  text-align: left;
}

.cell {
  border: 1px solid #b1b1b1;
  /* background-color: red; */
  height: 150px;
  overflow: hidden;
}

.missionTable .column:nth-child(even) .cell {
  background-color: #f5f5f5; /* Even row color */
}

.missionTable .column:nth-child(odd) .cell {
  background-color: #ffffff; /* Odd row color */
}
